/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-relative {
  position:relative;
}
.p-absolute {
  position: absolute;
}
.d-flex{
  display: flex;
}
.jc-end{
  justify-content: flex-end;
}
.f-wrap{
  flex-wrap: wrap;
}
.jc-center{
  justify-content: center;
}
.jc-between{
  justify-content: space-between;
}
.ai-center{
  align-items: center;
}
button {
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 5px;
  border-radius: 3px;
  font-size: 10px;
  margin-left: 3px;
  border: 0px;
}
button:hover {
  cursor: pointer;
}
button:active {
  opacity: .5;
}

/* top */

.tags{
  right: 10px;
  top: 10px;
}

#top{
  width: 100%;
  height: 80px;
  background-color: black;
}
#top .container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

/* mid */

#mid{
  width: 100%;
  height: calc(100vh - 140px);
  background-color:black;
  overflow: auto;
}
#mid .container{
  width: 90vw;
  height: 100%;
  margin: 0px auto;
}
.card{
 width: 240px;
 height:140px;
 background-color: aquamarine;
 margin: 0px 3px 15px;
}
.card:hover{
  opacity: .5;
}
.card img{
  width: 100%;
  height: 100%;
}
.card .name{
  bottom: 5px;
  left: 0px;
  padding: 5px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  font-size: 15px;
}
/* bot */

#bot{
  width: 100%;
  height: 60px;
  background-color: #222222;
}
#bot .self{
  width: 180px;
  height: 100%;
}
#bot .boton{
  width: 85px;
  height: 100%;
  color: white;
}
#bot .boton:hover{
  cursor: pointer;
  opacity: .7;
}
#bot .boton:active {
  opacity: .3;
}
#bot .boton span{
display: block;
}
.emoji{
  font-size: 25px;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.freccia{
  bottom: 30%;
  right: 10%;
}
.texto{
  bottom:0;
  font-size: 9px;
  left: 50%;
  transform: translate(-50%,-50%);
}
#bot .end{
  width: 180px;
  height: 100%;
}
.end .finish{
  width: 130px;
  height: 100%;
  background-color: #4A4A4A;
  color: red;
}
.end .finish:hover{
  opacity: .7;
  cursor: pointer;
}
.end .finish:active{
  opacity: .3;
}
.menu{
  border: 1px solid white;
}
#bot .menu .boton{
  height: 100%;
  color: white;
}